{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ]
  ],
  // babel-specific webpack plugin"s
  "plugins": ["@babel/plugin-transform-runtime", "source-map-support"]
}
