# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Misc files (developer notes-to-self)
npm_install_scripts
service_information
curls

# environmental files
.env.yml
