# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Misc files (developer notes-to-self)
curls
npm_install_scripts
service_information_dev
service_information_prod
stage_test

# environmental files
.env
env.yml
